@charset "utf-8";

body {min-width: 400px;padding: 30px;text-align: center;}
header label {margin-right: 20px;}
.stopwatch .cd {display: none;}
.countdown .sw {display: none;}
.time {font-size: 60px;margin: 20px 0px;}
.btn_box button {width: 80px;}
.record_list {display: inline-block;width: 200px;margin-top: 30px;}
.record_list li {font-size: 20px;}
.input_sec {margin: 20px 0px;}
.input_sec input {display: inline-block;width: 200px;}